@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nexareg";
  src: url("./fonts/Nexa Regular.otf") format("truetype");
}

@font-face {
  font-family: "nexabold";
  src: url("./fonts/Nexa Bold.otf") format("truetype");
}

@font-face {
  font-family: "nexalight";
  src: url("./fonts/Nexa Light.otf") format("truetype");
}

body{
    font-family: "nexareg", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}