@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@1,500&family=Nunito&family=Open+Sans&family=Poppins&display=swap');

body{
    margin : 0;
    padding : 0;
    font-family : "Poppins",sans-serif;
}